@model IEnumerable<ExpenseTrackerMVCApp.Models.TotalModel>

@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1 class="display-4">Expense Tracker v1.0</h1>
</div>
<div class="body d-sm-inline-flex justify-content-between">
    <span>
        <button id="add-expense-home" class="body-toggler" type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="Expenses" asp-action="Index">Add Expenses</a>
        </button>
    </span>
    <span>
        <button  id="add-income-home" class="body-toggler" type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="Income" asp-action="Index">Add Income</a>
        </button>
    </span>
</div>
 <div id="Total-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                            @Html.DisplayNameFor(model => model.TotalExpenses)
                </th>
                <th>
                            @Html.DisplayNameFor(model => model.TotalIncome)
                </th>
                <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                            @Html.DisplayNameFor(model => model.UpdatedOn)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
 </div>
