
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>An Income is referencing this Income Type.</h1>

<h2>Make sure that no Income is using this Income Type, in order to delete it without causing issues.</h2>

