
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>An Expense is referencing this Location.</h1>

<h2>Make sure that no Expense is using this Location, in order to delete it without causing issues.</h2>

